.banner-text{
    /* font-weight: bold; */
    /* line-height: 0; */
    color: #0e204d;       
}

.banner-text h1{
    font-size: 5vw;  
    font-weight: 800; 
    
}
.banner-text h5{
    font-size: 2vw;
}
.icon{
    font-size: 5vw;
    margin: 0 20px;
    color: whitesmoke
}
.icon:hover{
    transform: scale(1.2);
    transition: 0.5s linear;
    color: #c15c25;
}
.btn-color3{
    padding: 5px 15px;
    border-radius: 5px;
    background-color: whitesmoke ;
   
}
.btn-color3:hover{
    background-color: #ff6647;
    color: white;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}
.img-dark img{
    filter: brightness(50%);
}