.bg-color{
    background-color: #213360;  
}
.text-hover h2:hover, .text-hover li:hover{
    color: rgb(200, 80, 53);   
}
.background-image-footer{
    background-image: linear-gradient(rgba(243, 239, 239, 0.746), rgba(243, 239, 239, 0.746)), url("https://i.ibb.co/t30Twcg/footer-1.jpg"); 
    height: 50%;
    
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;

  
}